/* /Pages/Contacto.razor.rz.scp.css */

img[b-on5xr5gq8q] {
    width: 100%;
    background-size: cover;
}

#Contacto[b-on5xr5gq8q] {
    display: flex;
    justify-content: center;
    background-color: rgba(63, 80, 96, 0.15);
    padding: 5rem;
}

    #Contacto .container[b-on5xr5gq8q] {
        display: flex;
        justify-content: space-between;
    }

    #Contacto .informacion[b-on5xr5gq8q] {
        background-color: rgba(0, 0, 0, .5);
        padding: 1rem;
        color: #ffffff;
        width: 40%;
        font-size: 20px;
        text-align: center;
    }

        #Contacto .informacion h1[b-on5xr5gq8q] {
            margin-top: 25px;
            margin-bottom: 25px;
            font-weight: 800;
        }

        #Contacto .informacion h6[b-on5xr5gq8q] {
            color: #F7A928;
            font-weight: 800;
        }

        #Contacto .informacion p[b-on5xr5gq8q] {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        #Contacto .informacion img[b-on5xr5gq8q] {
            width: 50%;
            margin-top: 25px;
            margin-bottom: 25px;
        }

    #Contacto .img[b-on5xr5gq8q] {
        width: 55%;
    }



@media screen and (min-width: 320px) and (max-width: 480px) {

    #Contacto[b-on5xr5gq8q] {
        padding: 1rem;
    }

        #Contacto .container[b-on5xr5gq8q] {
            display: block;
        }

    #Contacto .informacion[b-on5xr5gq8q] {
        width: 100%;
        margin-bottom: 25px;
    }

        #Contacto .informacion img[b-on5xr5gq8q] {
            width: 100%;
        }

        #Contacto .img[b-on5xr5gq8q] {
            width: 100%;
        }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    #Contacto[b-on5xr5gq8q] {
        padding: 1rem;
    }

        #Contacto .container[b-on5xr5gq8q] {
            display: block;
        }

        #Contacto .informacion[b-on5xr5gq8q] {
            width: 100%;
            margin-bottom: 25px;
        }

            #Contacto .informacion img[b-on5xr5gq8q] {
                width: 70%;
            }

        #Contacto .img[b-on5xr5gq8q] {
            width: 100%;
        }
}

@media screen and (min-width: 601px) and (max-width: 900px) {

        #Contacto .container[b-on5xr5gq8q] {
            display: block;
        }

        #Contacto .informacion[b-on5xr5gq8q] {
            width: 100%;
            margin-bottom: 25px;
        }

            #Contacto .informacion img[b-on5xr5gq8q] {
                width: 60%;
            }

        #Contacto .img[b-on5xr5gq8q] {
            width: 100%;
        }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {

    #Contacto .container[b-on5xr5gq8q] {
        display: block;
    }

    #Contacto .informacion[b-on5xr5gq8q] {
        width: 100%;
        margin-bottom: 25px;
    }

        #Contacto .informacion img[b-on5xr5gq8q] {
            width: 50%;
        }

    #Contacto .img[b-on5xr5gq8q] {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #Contacto .informacion img[b-on5xr5gq8q] {
        width: 60%;
    }
}


/* /Pages/Index.razor.rz.scp.css */

img[b-1s30rs31ws] {
    width: 100%;
}

#Inicio[b-1s30rs31ws] {
    position: relative;
    background: url("images/Background-Computer.jpg") no-repeat center center fixed;
    height: 1024px;
    background-size: cover;
}

    #Inicio .portada[b-1s30rs31ws] {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
        height: 1024px;
    }

        #Inicio .portada div[b-1s30rs31ws] {
            margin-top: 10%;
            padding: 5rem;
        }

    #Inicio .tittle[b-1s30rs31ws] {
        font-size: 60px;
        font-weight: 800;
    }

    #Inicio .description[b-1s30rs31ws] {
        margin-top: 50px;
        font-size: 35px;
    }


#QueHacemos[b-1s30rs31ws] {
    display: flex;
    background-color: rgba(63, 80, 96, 0.15);
    justify-content: center;
    padding: 5rem;
}

    #QueHacemos img[b-1s30rs31ws] {
        box-shadow: -20px -10px #075E54;
        padding-left: 0;
    }

    #QueHacemos .contenido[b-1s30rs31ws] {
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%)
    }

    #QueHacemos h1[b-1s30rs31ws] {
        margin-top: 25px;
        border-bottom: 2px solid #FFAA01;
    }

    #QueHacemos p[b-1s30rs31ws] {
        margin-top: 50px;
        font-size: 20px;
    }

#ComoLoHacemos[b-1s30rs31ws] {
    text-align: center;
    padding: 5rem 5rem 0rem 5rem;
    font-size: 20px;
}

    #ComoLoHacemos h1[b-1s30rs31ws] {
        margin-bottom: 50px;
    }

    #ComoLoHacemos h5[b-1s30rs31ws] {
        margin-top: 25px;
        margin-bottom: 25px;
        font-weight: 800;
    }

#Servicios[b-1s30rs31ws] {
    padding: 5rem;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

    #Servicios .services[b-1s30rs31ws] {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

        #Servicios .services img[b-1s30rs31ws] {
            text-align: justify;
            height: 50%;
        }

        #Servicios .services div[b-1s30rs31ws] {
            box-shadow: 0px 0px 10px 0px #F7A928;
            padding: 1rem;
            margin: 0% 1%;
            width: 100%;
        }

        #Servicios .services h5[b-1s30rs31ws] {
            margin-top: 25px;
            margin-bottom: 25px;
            font-weight: 800;
        }

        #Servicios .services p[b-1s30rs31ws] {
            text-align: justify;
            padding-bottom: 5rem;
        }

#Tecnologias[b-1s30rs31ws] {
    background-color: rgba(63, 80, 96, 0.15);
    padding: 5rem;
    text-align: center;
    font-size: 20px;
}

    #Tecnologias h1[b-1s30rs31ws] {
        display: flex;
        background-color: rgba(63, 80, 96, 0.15);
        justify-content: center;
        padding: 5rem;
    }

    #Tecnologias .technologies[b-1s30rs31ws] {
        display: flex;
        overflow-x: scroll;
        justify-content: stretch;
    }

        #Tecnologias .technologies div[b-1s30rs31ws] {
            padding: 1rem;
        }

        #Tecnologias .technologies h5[b-1s30rs31ws] {
            font-weight: 800;
        }

        #Tecnologias .technologies img[b-1s30rs31ws] {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-size: cover;
        }

@media screen and (min-width: 320px) and (max-width: 480px) {

    #Inicio[b-1s30rs31ws] {
        height: 680px;
    }

        #Inicio .portada[b-1s30rs31ws] {
            height: 680px;
        }

            #Inicio .portada div[b-1s30rs31ws] {
                margin-top: 20%;
                width: 100%;
                padding: 1rem;
            }

        #Inicio .tittle[b-1s30rs31ws] {
            font-size: 30px;
            font-weight: 800;
        }

        #Inicio .description[b-1s30rs31ws] {
            margin-top: 10px;
            font-size: 20px;
        }

    #QueHacemos[b-1s30rs31ws] {
        padding: 1rem;
    }

        #QueHacemos .col-6[b-1s30rs31ws] {
            width: 100%;
            margin-top: 25px;
        }

        #QueHacemos img[b-1s30rs31ws] {
            box-shadow: -10px -7px #075E54;
        }

    #ComoLoHacemos[b-1s30rs31ws] {
        padding: 1rem;
    }

        #ComoLoHacemos .col-3[b-1s30rs31ws] {
            width: 100%;
        }

    #Servicios[b-1s30rs31ws] {
        padding: 1rem;
    }

        #Servicios .services[b-1s30rs31ws] {
            display: block;
        }

            #Servicios .services div[b-1s30rs31ws] {
                margin: 10% 0%;
            }

    #Tecnologias[b-1s30rs31ws] {
        padding: 1rem;
    }

        #Tecnologias h1[b-1s30rs31ws] {
            padding: 1rem;
        }

        #Tecnologias .technologies img[b-1s30rs31ws] {
            width: 70px;
            height: 70px;
        }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    #Inicio[b-1s30rs31ws] {
        height: 768px;
    }

        #Inicio .portada[b-1s30rs31ws] {
            height: 768px;
        }

            #Inicio .portada div[b-1s30rs31ws] {
                margin-top: 40%;
                width: 100%;
                padding: 1rem;
            }

        #Inicio .tittle[b-1s30rs31ws] {
            font-size: 30px;
            font-weight: 800;
        }

        #Inicio .description[b-1s30rs31ws] {
            margin-top: 10px;
            font-size: 20px;
        }

    #QueHacemos[b-1s30rs31ws] {
        padding: 1rem;
    }

        #QueHacemos .col-6[b-1s30rs31ws] {
            width: 100%;
            margin-top: 25px;
        }

        #QueHacemos img[b-1s30rs31ws] {
            box-shadow: -10px -7px #075E54;
        }

    #ComoLoHacemos[b-1s30rs31ws] {
        padding: 1rem;
    }

        #ComoLoHacemos .col-3[b-1s30rs31ws] {
            width: 100%;
        }

    #Servicios[b-1s30rs31ws] {
        padding: 1rem;
    }

        #Servicios .services[b-1s30rs31ws] {
            display: block;
        }

            #Servicios .services div[b-1s30rs31ws] {
                margin: 10% 0%;
            }

    #Tecnologias[b-1s30rs31ws] {
        padding: 1rem;
    }

        #Tecnologias h1[b-1s30rs31ws] {
            padding: 1rem;
        }

        #Tecnologias .technologies img[b-1s30rs31ws] {
            width: 70px;
            height: 70px;
        }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #Inicio .portada div[b-1s30rs31ws] {
        margin-top: 30%;
        width: 100%;
        padding: 1rem;
    }

    #Inicio .tittle[b-1s30rs31ws] {
        font-size: 50px;
        font-weight: 800;
    }

    #Inicio .description[b-1s30rs31ws] {
        margin-top: 10px;
        font-size: 30px;
    }

    #QueHacemos[b-1s30rs31ws] {
        padding: 2.5rem;
    }

        #QueHacemos .col-6[b-1s30rs31ws] {
            width: 100%;
            margin-top: 25px;
        }

        #QueHacemos img[b-1s30rs31ws] {
            box-shadow: -10px -7px #075E54;
        }

    #ComoLoHacemos[b-1s30rs31ws] {
        padding: 2.5rem;
    }

        #ComoLoHacemos .col-3[b-1s30rs31ws] {
            width: 50%;
        }

    #Servicios[b-1s30rs31ws] {
        padding: 2.5rem;
    }

        #Servicios .services[b-1s30rs31ws] {
            display: block;
        }

            #Servicios .services div[b-1s30rs31ws] {
                margin: 5% 0%;
            }

                #Servicios .services div img[b-1s30rs31ws] {
                    width: 60%;
                }

    #Tecnologias[b-1s30rs31ws] {
        padding: 1rem;
    }

        #Tecnologias h1[b-1s30rs31ws] {
            padding: 2.5rem;
        }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    #Inicio .portada div[b-1s30rs31ws] {
        margin-top: 20%;
    }

    #QueHacemos[b-1s30rs31ws] {
        padding: 3.5rem;
    }

        #QueHacemos .col-6[b-1s30rs31ws] {
            width: 100%;
            margin-top: 50px;
        }

        #QueHacemos img[b-1s30rs31ws] {
            box-shadow: -10px -7px #075E54;
        }

    #ComoLoHacemos[b-1s30rs31ws] {
        padding: 3.5rem;
    }

    #Servicios[b-1s30rs31ws] {
        padding: 3.5rem;
    }

        #Servicios .services div[b-1s30rs31ws] {
            margin: 0% 1%;
        }

        #Servicios .services p[b-1s30rs31ws] {
            padding-bottom: 15rem;
        }
                

    #Tecnologias[b-1s30rs31ws] {
        padding: 1rem;
    }

        #Tecnologias h1[b-1s30rs31ws] {
            padding: 2.5rem;
        }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    #Servicios .services p[b-1s30rs31ws] {
        padding-bottom: 10rem;
    }
}
/* /Pages/QueHacemos.razor.rz.scp.css */

img[b-41an2pdr8w] {
    width: 100%;
}

#QueHacemos[b-41an2pdr8w] {
    margin-top: 50px;
    font-size: 20px;
}

    #QueHacemos .container[b-41an2pdr8w] {
        margin-bottom: 50px;
    }

        #QueHacemos .container p[b-41an2pdr8w] {
            font-size: 25px;
            text-align: justify;
        }

.TitleProceso[b-41an2pdr8w] {
    background-color: rgba(63, 80, 96, 0.15);
    padding: 2rem;
    text-align: center;
}

.Proceso[b-41an2pdr8w] {
    display: flex;
    justify-content: center;
}

    .Proceso div[b-41an2pdr8w] {
        width: 100%;
        align-self: center;
    }

    .Proceso .text[b-41an2pdr8w] {
        text-align: center;
    }

    .Proceso p[b-41an2pdr8w] {
        text-align: justify;
        padding: 2rem;
    }


@media screen and (min-width: 320px) and (max-width: 480px) {


    #QueHacemos .container p[b-41an2pdr8w] {
        font-size: 20px;
    }

    .Proceso[b-41an2pdr8w] {
        display: block;
        margin-bottom: 25px;
    }

        .Proceso .text[b-41an2pdr8w] {
            margin-top: 10px;
        }

            .Proceso .text p[b-41an2pdr8w] {
                font-size: 18px;
            }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .Proceso[b-41an2pdr8w] {
        display: block;
        margin-bottom: 25px;
    }

}

/* /Pages/Services.razor.rz.scp.css */
img[b-78wnp1tsbh] {
    width: 100%;
}

#Servicios[b-78wnp1tsbh] {
    padding: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

    #Servicios .services[b-78wnp1tsbh] {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

        #Servicios .services div[b-78wnp1tsbh] {
            box-shadow: 0px 0px 10px 0px #F7A928;
            padding: 1rem;
            margin: 1rem;
            width: 100%;
        }

        #Servicios .services img[b-78wnp1tsbh] {
            text-align: justify;
            height: 50%;
        }

        #Servicios .services h5[b-78wnp1tsbh] {
            font-weight: 800;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        #Servicios .services p[b-78wnp1tsbh] {
            text-align: justify;
            padding-bottom: 5rem;
        }


@media screen and (min-width: 320px) and (max-width: 480px) {

    #Servicios[b-78wnp1tsbh] {
        padding: 0.5rem;
    }

        #Servicios .services[b-78wnp1tsbh] {
            display: block;
            margin-top: 25px;
        }

            #Servicios .services div[b-78wnp1tsbh] {
                padding: 1rem;
                margin: 0rem;
                margin-top: 25px;
                margin-bottom: 25px;
            }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    #Servicios[b-78wnp1tsbh] {
        padding: 1rem;
    }

        #Servicios .services[b-78wnp1tsbh] {
            display: block;
            margin-top: 25px;
        }

            #Servicios .services div[b-78wnp1tsbh] {
                padding: 1rem;
                margin: 0rem;
                margin-top: 25px;
                margin-bottom: 25px;
            }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #Servicios[b-78wnp1tsbh] {
        padding: 2rem;
    }

        #Servicios .services[b-78wnp1tsbh] {
            display: block;
            margin-top: 25px;
            width: 80%;
            display: inline-block;
        }

            #Servicios .services div[b-78wnp1tsbh] {
                padding: 1rem;
                margin: 0rem;
                margin-top: 25px;
                margin-bottom: 25px;
            }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    #Servicios[b-78wnp1tsbh] {
        padding: 1rem;
    }

    #Servicios .services p[b-78wnp1tsbh] {
        padding-bottom: 10rem;
    }
}

@media screen and (min-width: 1201px) {
}
/* /Pages/Technologies.razor.rz.scp.css */
img[b-8bowclznbr] {
    width: 100%;
}

#Tecnologias[b-8bowclznbr] {
    text-align: center;
}

    #Tecnologias .technologies[b-8bowclznbr] {
        display: flex;
        padding: 5rem;
        justify-content: stretch;
        overflow-x: scroll;
        background-color: rgba(63, 80, 96, 0.15);
    }

        #Tecnologias .technologies div[b-8bowclznbr] {
            padding: 1rem;
        }

        #Tecnologias .technologies h5[b-8bowclznbr] {
            font-weight: 800;
        }

        #Tecnologias .technologies div img[b-8bowclznbr] {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-size: cover;
        }

#DescriptionTechnologies[b-8bowclznbr] {
    margin-top: 50px;
    font-size: 20px;
}

.img-div-right[b-8bowclznbr] {
    border-radius: 0px 200px 200px 0px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.img-div-left[b-8bowclznbr] {
    border-radius: 200px 0px 0px 200px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.Proceso[b-8bowclznbr] {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

    .Proceso .img[b-8bowclznbr] {
        width: 50%;
        align-self: center;
        background-color: rgba(63, 80, 96, 0.5);
    }

        .Proceso .img img[b-8bowclznbr] {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-size: cover;
        }

    .Proceso .text[b-8bowclznbr] {
        text-align: center;
        width: 50%;
    }

        .Proceso .text h2[b-8bowclznbr] {
            color: #F7A928;
            font-weight: 800;
        }

        .Proceso .text p[b-8bowclznbr] {
            text-align: justify;
            padding: 2rem;
        }

@media screen and (min-width: 320px) and (max-width: 600px) {

    #Tecnologias .technologies[b-8bowclznbr] {
        padding: 1rem;
    }

        #Tecnologias .technologies img[b-8bowclznbr] {
            width: 10px;
            height: 10px;
        }

    .Proceso[b-8bowclznbr] {
        display: block;
    }

        .Proceso .img[b-8bowclznbr] {
            width: 100%;
        }

            .Proceso .img img[b-8bowclznbr] {
                width: 150px;
                height: 150px;
            }

        .Proceso .text[b-8bowclznbr] {
            width: 100%;
        }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .Proceso .img img[b-8bowclznbr] {
        width: 180px;
        height: 180px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Proceso .img img[b-8bowclznbr] {
        width: 220px;
        height: 220px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .Proceso .img img[b-8bowclznbr] {
        width: 250px;
        height: 250px;
    }
}
/* /Shared/FooterPage.razor.rz.scp.css */


#footer[b-541lxzd9jm] {
    background-color: #333333;
    padding: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

    #footer h5[b-541lxzd9jm] {
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    #footer
    .footer-contacto[b-541lxzd9jm],
    .footer-services[b-541lxzd9jm],
    .footer-social[b-541lxzd9jm] {
        margin: 1rem 10%;
        width: 100%;
    }

    #footer .informacion[b-541lxzd9jm] {
        margin-top: 30px;
    }

    #footer h5 .logo-text-1[b-541lxzd9jm] {
        font-family: 'Encapsulate Plain BRK', sans-serif;
        font-family: 'Encapsulate BRK', sans-serif;
        font-size: 40px;
        align-self: end;
        font-weight: 100;
    }

    #footer h5 .logo-text-2[b-541lxzd9jm] {
        font-family: 'Roboto Condensed';
        font-size: 20px;
        margin-left: 0.5rem;
        align-self: end;
    }

    #footer .footer-contacto .informacion label[b-541lxzd9jm] {
        color: #F7A928;
        font-weight: 800;
    }

    #footer .footer-social .icons[b-541lxzd9jm] {
        display: flex;
        justify-content: center;
    }

    #footer .footer-social a[b-541lxzd9jm] {
        margin: 0% 10%;
    }

        #footer .footer-social a img[b-541lxzd9jm] {
            width: 30px;
        }

@media screen and (min-width: 320px) and (max-width: 480px) {

    #footer[b-541lxzd9jm] {
        display: block;
    }

        #footer .footer-contacto[b-541lxzd9jm],
        #footer .footer-services[b-541lxzd9jm],
        #footer .footer-social[b-541lxzd9jm] {
            margin: 0;
            margin-bottom: 50px;
        }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    #footer[b-541lxzd9jm] {
        display: block;
    }

        #footer .footer-contacto[b-541lxzd9jm],
        #footer .footer-services[b-541lxzd9jm],
        #footer .footer-social[b-541lxzd9jm] {
            margin: 0;
            margin-bottom: 50px;
        }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
/* /Shared/MainLayout.razor.rz.scp.css */

main[b-l8kics080v] {
    flex: 1;
}




/* /Shared/MenuTop.razor.rz.scp.css */

.menu-top[b-uz2jg9oq3p] {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    position:fixed;
    z-index: 10;
    width: 100%;
}

.logo[b-uz2jg9oq3p] {
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 8rem;
}

    .logo a[b-uz2jg9oq3p] {
        margin-left: 0.3rem;
    }

        .logo a:hover[b-uz2jg9oq3p] {
            text-decoration: none;
        }

    .logo .logo-text-1[b-uz2jg9oq3p] {
        font-family: 'Encapsulate Plain BRK', sans-serif;
        font-family: 'Encapsulate BRK', sans-serif;
        font-size: 30px;
    }

    .logo .logo-text-2[b-uz2jg9oq3p] {
        font-family: 'Roboto Condensed';
        font-size: 16px;
        margin-left: 0.3rem;
    }

    .logo img[b-uz2jg9oq3p] {
        width: 50px;
    }

.options[b-uz2jg9oq3p] {
    align-items: center;
    margin-right: 8rem;
}

a[b-uz2jg9oq3p] {
    white-space: nowrap;
    text-decoration: none;
    margin-left: 1rem;
    color: #ffffff;
}

    a:hover[b-uz2jg9oq3p] {
        text-decoration: underline;
    }

.btn-whatsapp[b-uz2jg9oq3p] {
    color: #ffffff;
    border-color: #F7A928;
    font-size: 14px;
}

    .btn-whatsapp:hover[b-uz2jg9oq3p] {
        color: #fff;
        background-color: #075E54;
        border-color: #F7A928
    }

    .btn-whatsapp img[b-uz2jg9oq3p] {
        width: 20px;
    }

@media (max-width: 1400px) {
    .logo[b-uz2jg9oq3p] {
        margin-left: 5rem;
    }

    .options[b-uz2jg9oq3p] {
        margin-right: 5rem;
    }
}

@media (max-width: 1300px) {
    .logo[b-uz2jg9oq3p] {
        margin-left: 3rem;
    }

    .options[b-uz2jg9oq3p] {
        margin-right: 3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .logo[b-uz2jg9oq3p] {
        margin-left: 2.5rem;
    }

    .options[b-uz2jg9oq3p] {
        margin-right: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo[b-uz2jg9oq3p] {
        margin-left: 1rem;
    }

    .options[b-uz2jg9oq3p] {
        margin-right: 1rem;
    }

    a[b-uz2jg9oq3p] {
        margin-left: 0.5rem;
    }
}
/* /Shared/TitlePage.razor.rz.scp.css */

#Main[b-pvuf1gz493] {
    position: relative;
    background-size: cover;
    height: 500px;
}

    #Main .text[b-pvuf1gz493] {
        position: absolute;
        width: 100%;
        top: 40%;
        left: 0;
        z-index: 5;
        text-align: center;
        display: flex;
        justify-content: center;
        color: #fff;
    }

        #Main .text div[b-pvuf1gz493] {
            width: 60%;
            background-color: rgba(0, 0, 0, .5);
            padding: 2rem;
        }

            #Main .text div span[b-pvuf1gz493] {
                font-size: 50px;
                font-weight: 800;
            }
