<section id="footer">
    <div class="footer-contacto">
        <div class="logo">
            <div>
                <label class="logo-text-1">
                    LCP
                </label>
                <label class="logo-text-2">
                    Software Solutions
                </label>
            </div>
        </div>
        <div class="informacion">
            <p><label>Teléfono:</label> +(57)3053072324</p>
            <p><label>Correo electrónico:</label> LCPDesarrollos@gmail.com</p>
            <p><label>Localización:</label> Bogotá, Colombia</p>
        </div>
    </div>
    <div class="footer-services">
        <h5>Servicios</h5>
        <div>
            <a>Fabricación De Software</a><br />
            <a>Desarrollo Web</a><br />
            <a>Desarrollo Móvil</a><br />
            <a>Desarrollos de Escritorio</a><br />
            <a>Desarrollo de APIs</a><br />
            <a>Construcción de Bases de Datos</a><br />
        </div>
    </div>
    <div class="footer-social">
        <h5>Redes Sociales</h5>
        <br />
        <p>
            Únete a nosotros en las redes sociales para recibir las últimas noticias y actualizaciones.
        </p>
        <div class="icons">
            <a href="https://www.instagram.com/lcpsoftwaresolutions/" target="_blank">
                <img src="images/Icon_Instagram.svg" />
            </a>
            <a href="https://www.facebook.com/lcpsoftwaresolutions" target="_blank">
                <img src="images/Icon_Facebook.svg" />
            </a>
            @*<a href="https://api.whatsapp.com/send?phone=573052072324" target="_blank">
                <img src="images/Icon_Whatsapp.svg" />
            </a>*@
        </div>
    </div>
</section>