<section id="footer">
    <div class="logo">
        <div>
            <label class="logo-text-1">
                LCP
            </label>
            <label class="logo-text-2">
                Software Solutions
            </label>
        </div>
    </div>
    <div class="social">
        <a href="https://www.instagram.com/lcpsoftwaresolutions/" target="_blank">
            <img src="images/icon-instagram.svg" />
        </a>
        <a href="https://www.facebook.com/lcpsoftwaresolutions" target="_blank">
            <img src="images/icon-facebook.svg" />
        </a>
    </div>
</section>