@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        

        <MenuTop />
        <section style="width: 100%">
            <img src="images/background-section-inicio.jpg" style="width: 100%"/>
        </section>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
