@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <a href="https://api.whatsapp.com/send?phone=573052072324" title="whatsApp" target="_blank">
                <i class="fab fa-whatsapp"></i> 
                3052072324
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
