@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        <div class="top-row">
            <a href="https://ingeneo.com.co/" aria-current="page">Inicio</a>
            <a href="#productos">Productos</a>
            <a href="https://api.whatsapp.com/send?phone=573052072324" title="whatsApp" target="_blank">
                <button type="button" class="btn btn-outline-primary">
                    <img src="../wwwroot/images/whatsapp_icon.svg" />
                    3052072324
                </button>
            </a>
        </div>

        <div>
            <a href="https://ingeneo.com.co/" aria-current="page">Inicio</a>
            
            <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="#ingeneo">Nosotros</a></li>
            <li id="menu-item-203" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-203"><a href="#clientes">Clientes</a></li>
            <li id="menu-item-497" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-497"><a href="#servicios">Servicios</a></li>
            <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a href="#tecnologias">Tecnologías</a></li>
            <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="#contactenos"><button type="button" class="botoncontacto btn btn-outline-primary">Contáctenos</button></a></li>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
