
.menu-top {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.logo {
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 8rem;
}

    .logo a {
        margin-left: 0.3rem;
    }

        .logo a:hover {
            text-decoration: none;
        }

    .logo .logo-text-1 {
        font-family: 'Encapsulate Plain BRK', sans-serif;
        font-family: 'Encapsulate BRK', sans-serif;
        font-size: 30px;
    }

    .logo .logo-text-2 {
        font-family: 'Roboto Condensed';
        font-size: 20px;
        margin-left: 0.3rem;
    }

    .logo img {
        width: 50px;
    }

.options {
    align-items: center;
    margin-right: 8rem;
}

a {
    white-space: nowrap;
    text-decoration: none;
    margin-left: 1rem;
    color: #ffffff;
}

    a:hover {
        text-decoration: underline;
    }

.btn {
    color: #ffffff;
    border-color: #F7A928;
}

.btn-whatsapp:hover {
    color: #fff;
    background-color: #075E54;
    border-color: #F7A928
}

.btn img {
    width: 20px;
}


/* CSS Para el menu 2*/
.menu-top-2 {
    margin-top: 4rem;
    display: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    z-index: 10;
    width: 100%;
    position: absolute;
}

    .menu-top-2 a {
        display: block;
    }

.display-none {
    display: none;
}

.display-block {
    display: block;
    margin-right: 1rem;
}

.open-close {
    display: none;
    margin-right: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 700px) {

    .logo {
        margin-left: 0.5rem;
    }

        .logo .logo-text-2 {
            font-size: 20px;
        }

    .options {
        display: none;
    }

    .menu-top-2 div {
        margin-left: 0.5rem;
    }

    .menu-top-2 a {
        padding: 0.5rem;
    }

    .open-close {
        display: block;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {

    .logo {
        margin-left: 0.5rem;
    }

        .logo .logo-text-2 {
            font-size: 15px;
        }

    .options {
        font-size: 15px;
        margin-right: 1rem;
    }

    a {
        margin-left: 0.5rem;
    }

    .btn-whatsapp span {
        display: none;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .logo {
        margin-left: 1rem;
    }

    .options {
        margin-right: 1rem;
    }

    .btn-whatsapp span {
        display: none;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .logo {
        margin-left: 1rem;
    }

    .options {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .logo {
        margin-left: 2rem;
    }

    .options {
        margin-right: 2rem;
    }
}
