


.menu-top {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.logo {
    align-items: center;
    display: flex;
    text-align: center;
}

    .logo a {
        margin-left: 0.3rem;
    }

    .logo a:hover {
        text-decoration: none;
    }

    .logo .logo-text-1 {
        font-family: 'Encapsulate Plain BRK', sans-serif;
        font-family: 'Encapsulate BRK', sans-serif;
        font-size: 30px;
    }

    .logo .logo-text-2 {
        font-family: 'Roboto Condensed';
        font-size: 20px;
        margin-left: 0.3rem;
    }

    .logo img {
        width: 50px;
        margin-left: 10rem;
    }

.options {
    align-items: center;
    margin-right: 10rem;
}


a {
    white-space: nowrap;
    text-decoration: none;
    margin-left: 1rem;
    color: #ffffff;
}


    a:hover {
        text-decoration: underline;
    }




.btn-whatsapp {
    color: #ffffff;
    border-color: #F7A928
}

    .btn-whatsapp:hover {
        color: #fff;
        background-color: #075E54;
        border-color: #F7A928
    }
