
<div class="menu-top">
    <div class="logo">

        <img src="images/Logo-Rey-Guajiro.png" />
        <div class="logo-text">
            <a href="#">
                <label class="logo-text-1">
                    LCP
                </label>
                <label class="logo-text-2">
                    Software Solutions
                </label>
            </a>
        </div>

    </div>
    <div class="options">
        <a href="#Inicio">Inicio</a>
        <a href="#hacemos">Que Hacemos</a>
        <a href="#servicios">Servicios</a>
        <a href="#Tecnologias">Tecnologías</a>
        <a href="#Productos">Productos</a>
        <a href="#Contactanos">Contactanos</a>
        <a href="https://api.whatsapp.com/send?phone=573052072324" title="whatsApp" target="_blank">
            <button type="button" class="btn btn-whatsapp">
                <img src="images/Icon_Whatsapp.svg" />
                3052072324
            </button>
        </a>
    </div>
</div>

@code {

}
