<div class="top-row px-4">
    <a href="https://ingeneo.com.co/" aria-current="page">Inicio</a>
    <a href="#productos">Productos</a>
    <a href="https://api.whatsapp.com/send?phone=573052072324" title="whatsApp" target="_blank">
        <button type="button" class="btn btn-outline-primary">
            <img src="images/whatsapp-icon.svg" style="width: 25px" />
            3052072324
        </button>
    </a>
</div>

@code {

}
