
<section id="Main">
    <div class="tittle">
        <h1>
            @Title
        </h1>
    </div>
</section>

<style>
    #Main {
        background: url("@UrlImgae") no-repeat center center fixed;
    }
</style>

@code {
    [Parameter]
    public string Title { set; get; }

    [Parameter]
    public string UrlImgae { set; get; }
}
