
img {
    width: 100%;
}

#Inicio {
    position: relative;
}

    #Inicio img {
        width: 100%;
    }

    #Inicio .inicio-text {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 0;
        z-index: 5;
        text-align: center;
        display: flex;
        justify-content: center;
        color: #fff;
    }

        #Inicio .inicio-text div {
            width: 60%;
            background-color: rgba(0, 0, 0, .5);
            padding: 2rem;
        }

    #Inicio .inicio-text-1 {
        font-size: 50px;
        font-weight: 800;
    }

    #Inicio .inicio-text-2 {
        margin-top: 150px;
        font-size: 25px;
    }


#QueHacemos {
    display: flex;
    background-color: rgba(63, 80, 96, 0.15);
    justify-content: center;
    padding: 5rem;
}

    #QueHacemos .img {
        box-shadow: -20px -10px #075E54;
        padding-left: 0;
    }

    #QueHacemos .text {
        padding: 1rem;
        text-align: center;
        font-size: 25px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%)
    }

        #QueHacemos .text h1 {
            border-bottom: 2px solid #FFAA01;
        }

        #QueHacemos .text p {
            margin-top: 50px;
            font-size: 20px;
        }

    #QueHacemos .ComoLoHacemos {
        margin-top: 100px;
        text-align: center;
    }

    #QueHacemos .ComoLoHacemos h1{
        margin-bottom: 50px;
    }

        #QueHacemos .ComoLoHacemos h5 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 800;
        }

#Servicios {
    padding: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

    #Servicios .servicios {
        margin-top: 50px;
        display:flex;
        justify-content:center;
    }

    #Servicios .servicios div {
        box-shadow: 0px 0px 10px 0px #FFAA01;
        padding:1rem;
        margin:1rem;
        width:1000px;
    }
        #Servicios .servicios img {
            text-align: justify;
            height: 50%;
        }

        #Servicios .servicios h5 {
            font-weight: 800;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        #Servicios .servicios p {
            text-align: justify;
        }