@page "/"

<PageTitle>LCP Software Solutions</PageTitle>


<section id="Inicio">
    <div>
        <img src="images/Background-Computer.jpg" />
        <div class="inicio-text">
            <div>
                <span class="inicio-text-1">
                    Diseño de paginas web, Aplicaciones Moviles y Software a la Medida
                </span>
                <br />
                <span class="inicio-text-2">
                    Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
                </span>
            </div>
        </div>

    </div>
</section>
<section id="QueHacemos">
    <div class="container">
        <div class="row">
            <div class="col-6 img">
                <img src="images/Section-QueHacemos.jpg" />
            </div>
            <div class="col-6 text">
                <h1>Que Hacemos</h1>
                <p>
                    Desarrollamos software confiable, seguro y escalable para su empresa.
                    Nuestro compromiso es brindar soluciones tecnológicas para la transformación digital y optimización de su empresa,
                    con una perspectiva ética y humana, buscando ofrecer servicios eficientes a la sociedad, utilizando y administrando recursos electrónicos e informáticos.
                </p>
            </div>
        </div>
        <div class="ComoLoHacemos row">
            <h1>Como lo hacemos ...</h1>
            <div class="row">
                <div class="col-3">
                    <img src="images/ComoLoHacemos-Client.png" />
                    <h5>Reunión con el cliente</h5>
                    <p>
                        La primera reunión es muy importante para familiarizarse y discutir las ideas principales del proyecto.
                        <br />
                        <br />
                        Escuchamos a nuestros clientes y planteamos soluciones que incrementen valor a sus productos y alcancen las metas planteadas.
                    </p>
                </div>
                <div class="col-3">
                    <img src="images/ComoLoHacemos-DesingAndPlaning.png" />
                    <h5>Diseño y planeación</h5>
                    <p>
                        Diseñamos experiencias de acuerdo a las necesidades del cliente, nos encargamos de plasmar tus ideas en conceptos gráficos claros y atractivos.
                    </p>
                </div>
                <div class="col-3">
                    <img src="images/ComoLoHacemos-Development.png" />
                    <h5>Desarrollo y Pruebas</h5>
                    <p>
                        Desarrollamos e integramos soluciones innovadoras de tecnología, que soportan y transforman los procesos de negocios.
                        <br />
                        <br />
                        Analizamos y comprobamos el trabajo realizado en el proyecto y realizamos los cambios necesarios.
                    </p>
                </div>
                <div class="col-3">
                    <img src="images/ComoLoHacemos-Delivery.png" >
                    <h5>Entrega</h5>
                    <p>
                        El proyecto está terminado y se lo entregamos a nuestro cliente.
                        <br />
                        <br />
                        Implementamos sistemas personalizados para empresas que desean una solución tecnológica a su medida, de fácil y rápido acceso ajustada a sus necesidades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Servicios">
    <div class="container">
        <h1>Nuestros Servicios</h1>
        <div class="services">
            <div>
                <img src="images/Servicios-CustomSoftware.jpg" />
                <h5>Fabricación De Software</h5>
                <p>
                    Ofrecemos servicios de desarrollo de software,
                    buscando la solución que mejor se adapte a las necesidades de su negocio.
                    <br />
                    Analizamos de manera exhaustiva los requerimientos de tu empresa,
                    realizamos el diseño funcional y técnico,
                    lo integramos con otros softwares,
                    acometemos la puesta en marcha y la formación de los usuarios.
                </p>
            </div>
            <div>
                <img src="images/Servicios-PortalWeb.jpg" />
                <h5>Desarrollo Web</h5>
                <p>
                    Desarrollo de aplicaciones web a medida. FrontEnd y BackEnd.
                    Soluciones web auto administrables.
                    <br /><br />
                    Diseñamos y desarrollamos portales transaccionales web robustos y con un amplio manejo de datos o usuarios con soporte y manejo de toda tecnología.
                </p>
            </div>
            <div>
                <img src="images/Servicios-AppMobile.jpg" />
                <h5>Desarrollo Móvil</h5>
                <p>
                    Desarrollo de aplicaciones híbridas para dispositivos móviles, compatibles con Android e iOS
                </p>
            </div>

        </div>
        <div class="services">
            <div>
                <img src="images/Servicios-DesktopSoftware.png" />
                <h5>Desarrollos de Escritorio</h5>
                <p>
                    Desarrollo de aplicaciones de escritorio para sistemas operativos Windows.
                </p>
            </div>
            <div>
                <img src="images/Servicios-APIDev.jpeg" />
                <h5>Desarrollo de APIs</h5>
                <p>
                    Desarrollo de herramienta intermedia para conectar distintos sistemas de manera automática o por peticiones del usuario.
                </p>
            </div>
            <div>
                <img src="images/Servicios-DBDev1.svg" />
                <h5>Contrucción de Bases de Datos</h5>
                <p>
                    Diseño y desarrollo de una estructura de base de datos escalable, requerida para optimizar su negocio.
                </p>
            </div>

        </div>
    </div>
</section>
<section id="Tecnologias">
    <div class="container">
        <h1>Tecnologías que usamos</h1>
    </div>
    <div class="technologies">
        <div>
            <img src="images/Tecnologias-Html5.jpg" />
            <h5>HTML 5</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSS.jpg" />
            <h5>CSS</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Javascript.png" />
            <h5>Javascript</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSharp.png" />
            <h5>CSHARP</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Blazor.jpg" />
            <h5>Blazor</h5>
        </div>
        <div>
            <img src="images/Tecnologias-DotnetMAUI1.jpg" />
            <h5>Dotnet MAUI</h5>
        </div>

        <div>
            <img src="images/Tecnologias-SQLServer.png" />
            <h5>SQL Server</h5>
        </div>
        <div>
            <img src="images/Tecnologias-MySQL.png" />
            <h5>MySQL</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Postgresql.png" />
            <h5>PostgreSQL</h5>
        </div>
    </div>
</section>

