@page "/"

<PageTitle>LCP Software Solutions</PageTitle>


<section id="Inicio">
    <div>
        <img src="images/background-section-inicio.jpg" />
        <div class="inicio-text">
            <div>
                <span class="inicio-text-1">
                    Diseño de paginas web, Aplicaciones Moviles y Software a la Medida
                </span>
                <br />
                <span class="inicio-text-2">
                    Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
                </span>
            </div>
        </div>

    </div>
</section>
<section id="QueHacemos">
    <div class="container row">
        <div class="col-6 img">
            <img src="images/QueHacemos.jpg" />
        </div>
        <div class="col-6 text">
            <h1>Que Hacemos</h1>
            <p>
                Desarrollamos software confiable, seguro y escalable para su empresa.
                Nuestro compromiso es brindar soluciones tecnológicas para la transformación digital y optimización de su empresa,
                con una perspectiva ética y humana, buscando ofrecer servicios eficientes a la sociedad, utilizando y administrando recursos electrónicos e informáticos.
            </p>
        </div>
    </div>
</section>
<section id="servicios">
    <div class="container">
        <h1>Que Hacemos</h1>
        <p>
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa

            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresaConstruimos soluciones tecnológicas para la transformación digital y optimización de tu empresaConstruimos soluciones tecnológicas para la transformación digital y optimización de tu empresaConstruimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa
        </p>
    </div>
</section>

