
img {
    width: 100%;
}

#Inicio {
    position: relative;
}

    #Inicio img {
        width: 100%;
    }

    #Inicio .inicio-text {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 0;
        z-index: 5;
        text-align: center;
        display: flex;
        justify-content: center;
        color: #fff;
    }

        #Inicio .inicio-text div {
            width: 60%;
            background-color: rgba(0, 0, 0, .5);
            padding: 2rem;
        }

    #Inicio .inicio-text-1 {
        font-size: 50px;
        font-weight: 800;
    }

    #Inicio .inicio-text-2 {
        margin-top: 150px;
        font-size: 25px;
    }


#QueHacemos {
    display: flex;
    background-color: rgba(63, 80, 96, 0.15);
    justify-content: center;
    padding: 2rem;
}

    #QueHacemos .text {
        text-align: center;
        font-size: 25px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%)
    }

    #QueHacemos .img {
        box-shadow: -20px -10px #075E54;
        padding-left: 0;
    }
