
img {
    width: 100%;
}

#QueHacemos {
    margin-top: 50px;
    font-size: 20px;
}

    #QueHacemos .container {
        margin-bottom: 50px;
    }

        #QueHacemos .container p {
            font-size: 25px;
            text-align: justify;
        }

.TitleProceso {
    background-color: rgba(63, 80, 96, 0.15);
    padding: 2rem;
    text-align: center;
}

.Proceso {
    display: flex;
    justify-content: center;
}

    .Proceso div {
        width: 100%;
        align-self: center;
    }

    .Proceso .text {
        text-align: center;
    }

    .Proceso p {
        text-align: justify;
        padding: 2rem;
    }


@media screen and (min-width: 320px) and (max-width: 480px) {


    #QueHacemos .container p {
        font-size: 20px;
    }

    .Proceso {
        display: block;
        margin-bottom: 25px;
    }

        .Proceso .text {
            margin-top: 10px;
        }

            .Proceso .text p {
                font-size: 18px;
            }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .Proceso {
        display: block;
        margin-bottom: 25px;
    }

}

