@page "/quehacemos"

<TitlePage title="Que Hacemos" UrlImgae="images/TitleImage-QueHacemos.jpg" />

<section id="QueHacemos">
    <div class="container">
        <p>
            Nos dedicamos al <strong>Desarrollo de Software</strong>,
            orientada a desarrollar <strong>proyectos tecnológicos</strong>, 
            con una perspectiva ética y humana,
            buscando ofrecer servicios eficientes a la sociedad, 
            utilizando y administrando recursos electrónicos e informáticos.
            <br />
            Construimos soluciones tecnológicas para la transformación digital y optimización de tu empresa.
        </p>
    </div>
    <div class="TitleProceso">
        <h1>Como lo hacemos</h1>
    </div>
    <div class="Proceso">
        <div>
            <img src="images/quehacemos/MeetingClient.jpg" />
        </div>
        <div class="text">
            <h2>Reunión con el cliente</h2> 
            <p>
                Escuchamos a nuestros clientes y planteamos soluciones que incrementen valor a sus productos y alcancen las metas planteadas.
                <br />
                <br />
                El análisis inicial del proyecto es muy importante para entender perfectamente los requerimientos de nuestros clientes y así poderles ofrecer las soluciónes de software que más se adapten a sus necesidades.
            </p>
        </div>
    </div>
    <div class="Proceso">
        <div class="text">
            <h2>Planeación y Diseño</h2>
            <p>
                Cuando entendemos las ideas principales, procedemos a discutir el plan de trabajo y analizarlo.
                <br />
                <br />
                Diseñamos experiencias de acuerdo a las necesidades del cliente, nos encargamos de plasmar tus ideas en conceptos gráficos claros y atractivos.
                <br />
                <br />
                En la parte de planeación de los sistemas de software definimos las actividades del proyecto, tiempos para el desarrollo, arquitectura de software, formas de interacción con el cliente.
            </p>
        </div>
        <div>
            <img src="images/quehacemos/DesingAndPlaning.jpg" />
        </div>
    </div>
    <div class="Proceso">
        <div>
            <img src="images/quehacemos/Development-Implementation-Testing.jpg" />
        </div>
        <div class="text">
            <h2>Desarrollo, Implementación y Pruebas</h2>
            <p>
                Ya que se establecieron los lineamientos del proyecto y todos estamos en acuerdo, iniciamos el proceso de diseño de interfaces así como maquetación y codificación del sistema utilizando metodologías agiles de desarrollo como scrum.
                <br />
                <br />
                Pondremos en marcha el desarrollo realizado y monitorearemos minuciosamente el desempeño.
                <br />
                <br />
                Ya identificadas las posibles fallas y/o mejoras es momento de realizar un plan para resolver los inconvenientes y realizar mejoras al software.
            </p>
        </div>
    </div>
    <div class="Proceso">
        <div class="text">
            <h2>Entrega</h2>
            <p>
                El proyecto está terminado y se lo entregamos a nuestro cliente.
                <br />
                <br />
                Del ciclo de vida de un sistema de software el 30% del tiempo se ocupa para la construcción del mismo, el otro 70% es para su mantenimiento, por lo que nosotros nos comprometemos a seguir actualizando y mejorando tu software.
            </p>
        </div>
        <div>
            <img src="images/quehacemos/DeliveryClient.jpg" />
        </div>
    </div>

</section>



@code {

}

