@page "/technologies"

<TitlePage title="Tenologías" UrlImgae="images/TitleImage-Tecnologias.jpg" />

<section id="Tecnologias">
    <div class="technologies">
        <div>
            <img src="images/Tecnologias-Html5.jpg" />
            <h5>HTML 5</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSS.jpg" />
            <h5>CSS</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Javascript.png" />
            <h5>Javascript</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSharp.png" />
            <h5>CSHARP</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Blazor.jpg" />
            <h5>Blazor</h5>
        </div>
        <div>
            <img src="images/Tecnologias-DotnetMAUI1.jpg" />
            <h5>Dotnet MAUI</h5>
        </div>

        <div>
            <img src="images/Tecnologias-SQLServer.png" />
            <h5>SQL Server</h5>
        </div>
        <div>
            <img src="images/Tecnologias-MySQL.png" />
            <h5>MySQL</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Postgresql.png" />
            <h5>PostgreSQL</h5>
        </div>
    </div>
</section>
<section id="DescriptionTechnologies">
    <div class="Proceso">
        <div class="text">
            <h2>HTML</h2>
            <p>
                Es el componente más básico de la Web. Define el significado y la estructura del contenido web,
                es un lenguaje de marcado que nos permite indicar la estructura de nuestro documento mediante etiquetas. 
                Este lenguaje nos ofrece una gran adaptabilidad, una estructuración lógica y es fácil de interpre­tar tanto por humanos como por máquinas.
            </p>
        </div>
        <div class="img img-div-left" style="padding: 0rem !important;">
            <img src="images/Tecnologias-Html5.jpg" />
        </div>
    </div>
    <div class="Proceso">
        <div class="img img-div-right" style="padding: 0rem !important;">
            <img src="images/Tecnologias-CSS.jpg" />
        </div>
        <div class="text">
            <h2>CSS</h2>
            <p>
                Es un mecanismo complementario del lenguaje HTML que permite indicarle 
                al navegador el estilo que debe darle a los distintos elementos al desplegar la información de un sitio web
            </p>
        </div>
    </div>
    <div class="Proceso">
        <div class="text">
            <h2>JavaScript</h2>
            <p>
                JavaScript es un lenguaje de programación dinámico que tiene la capacidad de ser utilizado en muchos dispositivos diferentes. 
                Puede usarse en ordenadores personales, servidores web y teléfonos inteligentes. 
                Es un lenguaje interpretado, orientado a objetos, débilmente tipado y dinámico.
            </p>
        </div>
        <div class="img img-div-left" style="padding: 0rem !important;">
            <img src="images/Tecnologias-Javascript.png" />
        </div>
    </div>
    <div class="Proceso">
        <div class="img img-div-right">
            <img src="images/Tecnologias-CSharp.png" />
        </div>
        <div class="text">
            <h2>CSharp</h2>
            <p>
                Es un lenguaje de programación multiparadigma desarrollado y estandarizado por la empresa Microsoft como parte de su plataforma .NET,
                con C# podemos desarrollar todo tipo de proyectos, desde programas de consola, servicios web, hasta programas de interfaz gráfica, 
                todo bajo la plataforma .NET de Microsoft. Además es posible desarrollar aplicaciones para móviles mediante la plataforma de código 
                abierto Xamarin y juegos usando el motor de Unity, entre otras cosas.
            </p>
        </div>
    </div>
    <div class="Proceso">
        <div class="text">
            <h2>Blazor</h2>
            <p>
                Blazor es una plataforma de trabajo para la creación de interfaces de usuario web interactivas del lado cliente, 
                es un marco de código abierto creado por Microsoft para crear aplicaciones web del lado del cliente utilizando C# y HTML. 
                Blazor funciona en la mayoría de los navegadores modernos, tanto web como móviles.
            </p>
        </div>
        <div class="img img-div-left">
            <img src="images/Tecnologias-Blazor.jpg" />
        </div>
    </div>
    <div class="Proceso">
        <div class="img img-div-right">
            <img src="images/Tecnologias-DotnetMAUI1.jpg" />
        </div>
        <div class="text">
            <h2>DotNet MAUI</h2>
            <p>
                .NET MAUI es un marco multiplataforma que permite desarrollar aplicaciones de alto rendimiento 
                y nativas para diversas plataformas.
                Con .NET MAUI, puede desarrollar aplicaciones que se pueden ejecutar en Android, iOS, macOS y Windows desde una sola base de código compartida.
                <br />
                .NET MAUI es de código abierto y es la evolución de Xamarin.Forms, extendida desde escenarios móviles a escritorio, 
                con controles de interfaz de usuario recompilados desde cero para el rendimiento y la extensibilidad
            </p>
        </div>
    </div>
    <div class="Proceso">
        <div class="text">
            <h2>Microsoft SQL Server</h2>
            <p>
                es un sistema de gestión de bases de datos relacionales (RDBMS) que admite una amplia variedad 
                de aplicaciones de procesamiento de transacciones, inteligencia empresarial y análisis en entornos informáticos corporativos.
            </p>
        </div>
        <div class="img img-div-left">
            <img src="images/Tecnologias-SQLServer.png" />
        </div>
    </div>
    <div class="Proceso">
        <div class="img img-div-right">
            <img src="images/Tecnologias-MySQL.png" />
        </div>
        <div class="text">
            <h2>MySQL</h2>
            <p>
                Es un sistema de gestión de bases de datos relacionales (RDBMS) de código abierto respaldado por Oracle
                y basado en el lenguaje de consulta estructurado (SQL). MySQL funciona prácticamente en todas las plataformas, 
                incluyendo Linux, UNIX y Windows.
            </p>
        </div>
    </div>
    <div class="Proceso">
        <div class="text">
            <h2>PostgreSQL</h2>
            <p>
                También conocido como Postgres, es un sistema de gestión de bases de datos relacionales (RDBMS) libre 
                y de código abierto (Open Source) que hace énfasis en la extensibilidad y el cumplimiento de SQL.
                <br />
                PostgreSQL es una potente base de datos relacional de código abierto de nivel empresarial. 
                Permite el uso de datos y consultas relacionales SQL y no relacionales JSON. PostgreSQL 
                tiene una fuerte comunidad detrás. PostgreSQL es un sistema de gestión de bases de datos 
                muy fiable con excelentes niveles de soporte, seguridad y precisión. Varios móviles y 
                aplicaciones web utilizan PostgreSQL como su base de datos por defecto. Muchas soluciones 
                geoespaciales y de análisis también hacen uso de PostgreSQL.
            </p>
        </div>
        <div class="img img-div-left">
            <img src="images/Tecnologias-Postgresql.png" />
        </div>
    </div>
</section>

@code {

}
