@page "/technologies"

<TitlePage title="Tenologias" UrlImgae="images/TitleImage-QueHacemos.jpg" />

<section id="Tecnologias">
    <div class="container">
        <h1>Tecnologías que usamos</h1>
    </div>
    <div class="technologies">
        <div>
            <img src="images/Tecnologias-Html5.jpg" />
            <h5>HTML 5</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSS.jpg" />
            <h5>CSS</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Javascript.png" />
            <h5>Javascript</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSharp.png" />
            <h5>CSHARP</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Blazor.jpg" />
            <h5>Blazor</h5>
        </div>
        <div>
            <img src="images/Tecnologias-DotnetMAUI1.jpg" />
            <h5>Dotnet MAUI</h5>
        </div>

        <div>
            <img src="images/Tecnologias-SQLServer.png" />
            <h5>SQL Server</h5>
        </div>
        <div>
            <img src="images/Tecnologias-MySQL.png" />
            <h5>MySQL</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Postgresql.png" />
            <h5>PostgreSQL</h5>
        </div>
    </div>
</section>

@code {

}
