img {
    width: 100%;
}
#Tecnologias {
    background-color: rgba(63, 80, 96, 0.15);
    padding: 5rem;
    text-align: center;
}


    #Tecnologias h1 {
        display: flex;
        background-color: rgba(63, 80, 96, 0.15);
        justify-content: center;
        padding: 5rem;
        margin-bottom: 50px;
    }

    #Tecnologias .technologies {
        display: flex;
        justify-content: center;
    }

        #Tecnologias .technologies div {
            padding: 1rem;
        }

        #Tecnologias .technologies h5 {
            font-weight: 600;
        }

        #Tecnologias .technologies div img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-size: cover;
        }
