img {
    width: 100%;
}

#Tecnologias {
    text-align: center;
}

    #Tecnologias .technologies {
        display: flex;
        padding: 5rem;
        justify-content: stretch;
        overflow-x: scroll;
        background-color: rgba(63, 80, 96, 0.15);
    }

        #Tecnologias .technologies div {
            padding: 1rem;
        }

        #Tecnologias .technologies h5 {
            font-weight: 800;
        }

        #Tecnologias .technologies div img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-size: cover;
        }

#DescriptionTechnologies {
    margin-top: 50px;
}

.img-div-right {
    border-radius: 0px 200px 200px 0px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.img-div-left {
    border-radius: 200px 0px 0px 200px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.Proceso {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

    .Proceso .img {
        width: 50%;
        align-self: center;
        background-color: rgba(63, 80, 96, 0.5);
    }

        .Proceso .img img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-size: cover;
        }

    .Proceso .text {
        text-align: center;
        width: 50%;
    }

        .Proceso .text h2 {
            color: #F7A928;
            font-weight: 800;
        }

        .Proceso .text p {
            text-align: justify;
            padding: 2rem;
            font-size: 20px;
        }

@media screen and (min-width: 320px) and (max-width: 480px) {
    #Tecnologias .technologies {
        padding: 1rem;
    }

        #Tecnologias .technologies img {
            width: 10px;
            height: 10px;
        }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #Tecnologias .technologies img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
